__pycache__/       """Python 文件编译后的缓存目录。git上传时会忽略该目录下的文件"""
*.pyc        """Python 文件编译后的字节码文件（如 .pyc、.pyo、.pyd）。"""
*$py.class

*.xlsx
*.xlsm

*.exe
*.rar
*.zip
*.tar
*.gz

*__pycache__

app/output/
app/dist
